<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="wdevs" translate="label" sortOrder="100">
            <label>Wdevs</label>
        </tab>
        <section id="custom_bar" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Custom bar</label>
            <tab>wdevs</tab>
            <resource>Wdevs_CustomBar::config_custom_bar</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Custom Bar Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable/Disable Bar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[<strong>Note</strong>: By enabling the module, it will show a small bar at the top of the page associated with a customer group.]]></comment>
                </field>
                <field id="options" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Custom Bar contents by groups</label>
                    <frontend_model>Wdevs\CustomBar\Block\System\Form\Field\CustomBarContent</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
